.homeMain{
    display:flex;
    flex-direction: column;
}

div.header{

    display:block;
  }
  
  /* Selects all children tags under header class*/
  .header > *{
    text-align: center;
  }
  
  .main{
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .mainImage{
    width: 200px;
    margin: 20px;
  }

  .playButton{
    width: 300px;
    height: 100px;
    margin: 30px;
    margin-top: 45px;
    font-size: 30px;
  }

  .footer{
    border: 1px solid #4140404f;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 100%, 0.089);
    padding: 20px;
    text-align: center;
    position:absolute;
    left:0;
    bottom:5px;
    right:0;
  } 